/* Prussian Blue(#003153) is the best */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold";
}
body {
    background: #D57070;
    border: 1px solid #FFFFFF;
}
main {
    font-size: 24px;
    text-align: center;
    color: #003153;
    overflow-y: scroll;
    height: 100vh;
}

logo {
    TOP:35px;LEFT:170px;
    width:100%;
    text-align:center;
    display:inline-block;
    margin: 0 auto;
}
.corner-wrapper {
    display: block;
    overflow: hidden;
    width: 890px;
    height: 680px;
    border-radius: 36px;
    transform: translateZ(0px);
    transform: translateY(0px);
    border: 3px solid #eee;
    margin-left: auto;
    margin-right: auto;
  }
nav {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #bababa;
    /* opacity: 0.85; */
}
#mapSpace {
    width: 600px;
    height: 450px;
    text-align: center;
    margin: auto;
    width: 50%;
    border-radius: 36px;
}
#currentPage {
    /* color: rgb(72, 165, 134); */
    color: #003153;
    border-bottom-style: solid;
}
.navLinks a:hover {
    color: #003153;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #003153;
    margin: 5px;
    transition: all 0.3s ease;
}

#announcement {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    color: #003153;
    padding: 400px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 20px;
    transform-origin: 20em;
  }
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255, 0.5);
    border-radius: 20px;
  }