* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold";
}
body {
    background: #D57070;
}
main {
    font-size: 24px;
    text-align: center;
    color: #003153;
    overflow-y: scroll;
    height: 100vh;
}
.random {
    padding-top: 75px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 890px;
    border: none;
    background-color: #ffffff;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 36px;
}
logo {
    padding-top: 40px;
    padding-bottom: 40px;
    TOP:100px;LEFT:170px;
    width:100%;
    text-align:center;
    display:inline-block;
    margin: 0 auto;
}
.corner-wrapper {
    display: block;
    overflow: hidden;
    width: 890px;
    height: 680px;
    border-radius: 36px;
    transform: translateZ(0px);
    transform: translateY(0px);
    border: 3px solid #eee;
    margin-left: auto;
    margin-right: auto;
  }

.h2 {
    text-align: center;
    margin:auto;
    padding: 35px;
    font-size: 5;
    opacity: 55%;
}

#mapSpace {
    width: 600px;
    height: 450px;
    text-align: center;
    margin: auto;
    width: 50%;
    border-radius: 36px;
}
#currentPage {
    /* color: rgb(72, 165, 134); */
    color: #003153;
    border-bottom-style: solid;
}
#announcement {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    color: #003153;
    padding: 400px;
}